.menu {
  padding: 5rem 0rem;
  height: 70vh;
  width: 100%;
  /* background-color: honeydew; */
  border-radius: 10px;

  position: absolute;
}

.bg-img {
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5 !important;
}

.main {
  height: 89%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  /* margin: 0 auto; */
  /* //    background-color:pink; */
  display: flex;
  flex-direction: row;
  margin: 0 7rem !important;
  /* justify-content: center; */
}

.menu-card {
  height: 40vh;
  width: 25%;
  background-color: white;
  border-radius: 15px;
  margin: 0 3rem;
}

.card-img {
  height: 30vh;
  overflow: hidden;
  border-radius: 15px;
}

.menu-img {
  width: 100%;
  height: 100%;
}

.card-btn {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-btn .btn a {
  text-decoration: none !important;
  color: white !important;
}

h2 {
  text-align: center;
}

.form-container {
  height: 50vh;
  width: 80vw;
  margin: 10rem 10rem;
}

.admin-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-pic-container {
  object-fit: contain;
  overflow: hidden;
}

.form-pic {
  height: 100%;
  width: 100%;
}
